---
import { Image } from "astro:assets";
import sarah from "../assets/sarah.jpg";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home | Sarah Delphine Thompson">
  <header>
    <div>
      <h1>Sarah Delphine Thompson</h1>
      <p>Slingin' words for a living</p>
    </div>
    <Image src={sarah} alt="A drawing of Sarah." />
  </header>
  <main>
    <article>
      <h2>About Me</h2>
      <p>Originally from the Bay Area, CA.</p>
      <p>Now based in Los Angeles, CA.</p>
      <p>Improv-trained (I won't ask you to go to any shows, don't worry.)</p>
      <p>
        Reality TV aficionado (America's Next Top Model was a cultural reset.
        Maybe not in a good way.)
      </p>
      <p>
        Craigslist Missed Connections section trawler (I've got the podcast to
        prove it.)
      </p>
      <p>
        Highlight of my career was when someone said "Love you, bye" to me on a
        work call. Think you can help me top that?
      </p>
      <p>
        Email me at <a href="mailto:sdelphine.thompson@gmail.com"
          >sdelphine.thompson@gmail.com</a
        >
      </p>
    </article>
  </main>
</Layout>
<style>
  header {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
    column-gap: 8px;
  }
  header > div {
    text-align: right;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
  }
  header > div > p:last-child {
    margin-top: 0px;
  }
  header > div > h1 {
    width: min-content;
  }
  header > img {
    border-radius: 100%;
    max-width: clamp(250px, 33%, 472px);
    height: auto;
  }
</style>
