---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Oregon Lottery | Sarah Delphine Thompson">
  <header>
    <h1>Oregon Lottery</h1>
    <p>
      Oregonians have an almost love-hate relationship with their lottery—and it
      was our job as their agency to push that sentiment over to the love side.
    </p>
    <p>
      Over our time with this client, positive public opinion of the Oregon
      Lottery has increased by over 10%, due to a mix of campaigns highlighting
      the way OL proceeds benefit all Oregonians and some good-ole-fashioned
      holiday spots selling Scratch-its (Oregonians also love a Scratch-it).
    </p>
  </header>
  <main>
    <article>
      <h2>State Parks Beneficiary 2024</h2>
      <iframe
        width="100%"
        class="youtube-embed"
        src="https://www.youtube.com/embed/b1HcNXfjoWU"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
      <iframe
        width="100%"
        class="youtube-embed"
        src="https://www.youtube.com/embed/3GterdXQ8XA"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
      <p>Script: Me</p>
      <p>CD: Laura Sutherland</p>
      <p>Video: Josh Lunden</p>
      <p>Art Direction: Luke Stasica</p>
      <h2>Holiday Scratch-Its 2023</h2>
      <iframe
        width="100%"
        class="youtube-embed"
        src="https://www.youtube.com/embed/SMBi0wZdKyw"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
      <p>Script: Me</p>
      <p>CD: Laura Sutherland</p>
      <p>Video: Josh Lunden</p>
      <p>Art Direction: Luke Stasica</p>
      <h2>Education Beneficiary 2023</h2>
      <iframe
        width="100%"
        class="youtube-embed"
        src="https://www.youtube.com/embed/Z6VkB-JxR2c"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
      <p>Script: Me</p>
      <p>CD: Laura Sutherland</p>
      <p>Video Direction: Josh Lunden</p>
      <p>Video Production: David Emmite/Mr. Curiousity</p>
      <p>Art Direction: Luke Stasica</p>
      <h2>Holiday Scratch-Its 2021</h2>
      <iframe
        width="100%"
        class="youtube-embed"
        src="https://www.youtube.com/embed/g2BQdT2dvpg"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
      <p>Script: Me</p>
      <p>CD: Laura Sutherland</p>
      <p>Video Direction: Josh Lunden</p>
      <p>Art Direction: Sam Stember</p>
    </article>
  </main>
</Layout>
